﻿@model Product
@using WebApplication2.Models

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <h2>Create</h2>
    <a href="/Home/Index">Index</a>
    <div class="container"> 
        <div class="row">
            <div class="col-1">
                @Html.Partial("Sidebar", new[] { "Продукты 1", "Контакты 1", "О нас 1" })
            </div>
            <div class="col">
                <form method="post">
                    @if (Model == null)
                    {
                        <input name="Name" />
                        <input name="Price" />
                    }
                    else
                    {
                        <input value="@Model.Name" name="Name" />
                        @Html.ErrorLable(Model, "Name");
                        <input value="@Model.Price" name="Price" />
                        @Html.ValidationMessageFor(model => model.Price)
                    }
                    <button type="submit">Создать</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>


