﻿@using WebApplication2.Models
@model IEnumerable<Product>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Продукты</h1>
    <div class="container">
        <div class="row">
            <div class="col-2">
                @Html.Partial("Sidebar", new[] { "Item #1", "Item #1", "Item #1" })
            </div>
            <div class="col">
                <div style="width: 500px">
                    <a href="/Home/Product">Новый продукт</a>
                    <ul style="font-size: 32px">
                        @foreach (var product in Model)
                        {
                            <li>
                                <a href="/Home/Products/@product.Id">@product.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

