﻿@model IEnumerable<string>


@helper CreateList(IEnumerable<string> elements)
{
    <ul>
        @foreach (var item in elements)
        {
            <li><h1>@item</h1></li>
        }
    </ul>
}
@using WebApplication2.Models

@helper Button(string name)
{
    <button class="btn btn-success">@name</button>
}

<div style="height: 500px;
            border: 1px solid black">
    @*@CreateList(Model)
    @Button("Кнопка")*@

    @*@Html.CreateList(Model, new { alt = "", @style = "background: green" })*@

</div>
