﻿@using WebApplication2.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>My-site.com</h1>
    @RenderBody()
</body>
</html>
